/* reset */
html{
    box-sizing: border-box;
}
html *, ::after, ::before{
    box-sizing: inherit;
}
body{
    font-family: Poppins;
    margin: 0;
}
svg{
    display:block;
}
.h2-contact2{
    display: none;
}
.svg-pric{
    display: inline-block;
}
h1,h2,h3,h4,h5,h6,p{
    margin: 0;
}
.container{
    margin: 0 auto;
    max-width: 290px;
}
a{
    text-decoration: none;
    color:#263238;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.lol{
    display: none;
}
button{
    cursor: pointer;
    padding: 0;
    border: 0;
    background-color: #fff;
}
/*header*/
header{
    padding-top: 36px;
}
.nav-menu{
    display: none;
}
header > .container{
    padding: 0 15px 0 15px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.logo{
    font-weight: 400;
    font-size: 24px;
    line-height: 1.5;
}
.logo>span{
    color: #939393;
}
.modal-open{
    width: 34px;
    height: 19px;
}
.svg-modal-open{
    width: 34px;
    height: 19px;
}
.nav-menu-list-item{
    font-weight: 500;
    font-size: 22px;
    line-height: 3;
    color: #263238;
}
/*modal*/
.is-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
    }
.madal-block {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: rgba(7, 34, 47, 0.8);
}
.modal-header{
    display: flex;
}
.madal-container{
    max-width: 291px;
    
}
.madal {
    overflow: auto;
    position: relative;
    padding-top: 39px;
    background-color: #fff;
    max-width: 429px;
    height: 100%;
}
.modal-close {
    position: absolute;
    right: 15px;
    top: 22px;
    border: 0;
    background: transparent;
}
.modal-nav-menu {
    margin-top: 48px;
    display: flex;
    flex-direction: column;
}
.modal-btn {
    width: 291px;
    height: 65px;
    margin-top: 69px;

    background: transparent ;
    border: 2px solid #263238;
    border-radius: 5px;
}
.line:after{
    margin-top: 20px;
        content: '';
        background-color: black;
        height: 1px;
        display: block;
        background-color: #C4C4C4;
}
/*hero*/
.hero{
    padding-top: 29px;
}
.hero>.container {
    max-width: 292px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hero-cont{
    align-items: center;
}
.hero-img{
    padding: 0 11px 0 11px;
}
.h2-hero {
    max-width: 220px;
    font-weight: 600;
    font-size: 24px;
    line-height: 1.5;
    text-align: center;
    margin-top: 16px;
    margin-left: 32px;
    margin-bottom: 20px;

    color: #000000;
}
.p-hero {
    max-width: 292px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    text-align: center;
    margin-bottom: 33px;

    color: #8F95A5;
}
.hero-btn {
    width: 289px;
    height: 60px;

    background: #263238;
    border-radius: 5px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;

    color: #FFFFFF;
}
.light{
    display: none;
}
/* skills */
.Skills{
    padding-top: 53px;
}
.skill-title {
    text-align: center;
    font-weight: 600;
    font-size: 24px;
    line-height: 3.3;
}
.skill-box {
    margin-top: 32px;
    display: inline-grid;
    grid-template-columns: 290px;
    grid-template-rows:600px 473px 473px 473px;
    row-gap: 10px;
    margin-left: 0;
}
.h2-skill{
    font-weight: 600;
    font-size: 18px;
    line-height: 4.4;

    color: #263238;
}
.skill-cont{
    margin-left: 13px;
    text-align: start;
}
.skills-btn {
    width: 178px;
    height: 50px;
    margin-top: 32px;

    background: #263238;
    border-radius: 5px;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.5;

    color: #FFFFFF;
}
.skil{
    text-align: center;
    background: #F5F5F5;
    border-radius: 5px;
}
.svg-speaking {
    width: 213px;
    height: 213px;
    margin-top: 8px;
    margin-bottom: 10px;
    margin-left: 39px;
}
.p-skill {
    max-width: 258px;
    font-weight: 400;
    font-size: 13px;
    line-height: 1.5;

    color: #8F95A5;
}
.svg-writing {
    margin-top: 16px;
    margin-left: 44px;
    width: 204px;
    height: 204px;
    margin-bottom: 11px;
}
.p-writing {
    max-width: 280px;
    margin-top: -2px;
}
.svg-reading {
    margin-top: 29px;
    margin-bottom: 20px;
    margin-left: 29px;
    width: 236px;
    height: 157px;
}
.p-reading {
    margin-top: -1px;
    max-width: 245px;
}
.skill-listening{
    display: block;
}
.svg-listening {
    margin-top: 33px;
    margin-left: 29px;
    width: 232px;
    height: 154px;
}
.p-listening {
    margin-top: -1px;

}
/*about*/
.about-us {
    padding-top: 50px;
    text-align: center;
}
.about-us>.container{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    max-width: 295px;
}
.title-about {
    font-weight: 600;
    font-size: 24px;
    line-height: 3.3;
    margin-bottom: 24px;
}
.title-about2{
    display: none;
}
.about-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.about-svg {
    width: 283px;
    height: 283px;
    margin-bottom: 23px;
}
.about-p {
    max-width: 295px;
    font-weight: 400;
    font-size: 13px;
    line-height: 1.5;
    text-align: center;
    color: #8F95A5;
}
.numbers-about {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 32px;
}
.numb-about {
    max-width: 124px;
}
.number-about {
    font-weight: 600;
    font-size: 24px;
    line-height: 1.5;
    color: #2A3246;
}
.p-numbers {
    margin-top: 10px;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.5;
    color: #8F95A5;
}
.p-numbers.element3{
    width: 141px;
}
/*pricing*/
.title-pric{
    margin-bottom: 50px;
    font-weight: 600;
    font-size: 24px;
    line-height: 3.3;
}
.Pricing {
    text-align: center;
    padding-top: 84px;
}
.Pricing>.container {
    max-width: 280px;
}
.prics {
    display: flex;
    flex-direction: column;
    row-gap: 70px;
}
.pric {
    text-align: center;
}
.svg-pric.self{
    width: 248px;
    height: 248px;
    margin-bottom: 28px;
}
.svg-pric.live{
    width: 257px;
    height: 197px;
    margin-bottom: 12px;
}
.svg-pric.person{
    width: 241px;
    height: 241px;
    margin-bottom: 7px;
}
.h2-pric {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.5;
    color: #263238;
}
.p-pric{
    font-weight: 400;
    font-size: 13px;
    line-height: 1.5;
    text-align: center;

    color: #8F95A5;
}
.p-pric.self{
    margin-left: auto;
    margin-right: auto;
    max-width: 272px;
    margin-top: 17px;
    margin-bottom: 33px;
}
.p-pric.live{
    margin-left: auto;
    margin-right: auto;
    max-width: 242px;
    margin-top: 22px;
    margin-bottom: 31px;
}
.p-pric.person{
    margin-left: auto;
    margin-right: auto;
    max-width: 280px;
    margin-top: 30px;
    margin-bottom: 38px;
}
.price {
    width: 170px;
    padding-left: 15px;
    padding-right: 15px;
    height: 37px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #EEEEEE;
    border-radius: 5px;
}
.h2-price {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    color: #263238;
}
.p-price {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    color: #546269;
}
/* contact */
.contact {
    display: block;
    padding-top: 72px;
    padding-bottom: 55px;

}
.contact.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.h2-contact {
    font-weight: 600;
    font-size: 24px;
    line-height: 3.3;
    text-align: center;
    color: #000000;
}
h2-contact2{
    display: none;
}
.svg-contact {
    width: 253px;
    height: 228px;
    margin-top: 38px;
    margin-bottom: 38px;
    margin-left: 29px;
}
.contact-cont {
    display: flex;
    flex-direction: column;
}
.p-contact {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    text-align: center;
    max-width: 287px;
    
    color: #8F95A5;
}
.input-block {
    display: flex;
    flex-direction: column;
}
.input-contact {
    margin-top: 31px;
    margin-bottom: 17px;
    padding:  0 0 0 26px;
    width: 291px;
    height: 50px;

    border: 1px solid #8F95A5;
    border-radius: 5px;

    font-weight: 400;
    font-size: 12px;
    line-height: 1.5;
    color: #8F95A5;
}
.input-btn {
    width: 290px;
    height: 60px;

    background: #263238;
    border-radius: 5px;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.5;
    color: #FFFFFF;
}
/*footer*/
.footer >.container::before{
    margin: 0 auto;
    max-width: 290px;
    margin-bottom: 26px;
    content: '';
    height: 1px;
    display: block;
    background-color: #C4C4C4;
}
.footer > .container > .footer-cont{
    display: block;
    text-align: center;
}
.footer > .container >.footer-cont > a{
    display: inline-block;
}
.ul-footer {
    display: flex;
    margin-top: 15px;
    column-gap: 10px;
}
.li-footer {
    position: relative;
    font-weight: 400;
    font-size: 11px;
    line-height: 1.5;
    color: #8F95A5;
}
.li-footer > a{
    color: #8F95A5;
}
.li-f2::before {
    position: absolute;
    content: '';
    width: 4px;
    height: 4px;
    left: -7px;
    border-radius: 100%;
    transform: translateY(150%);
    background-color: #8F95A5;
}
.li-f3::before {
    position: absolute;
    content: '';
    width: 4px;
    height: 4px;
    left: -7px;
    border-radius: 100%;
    transform: translateY(150%);
    background-color: #8F95A5;
}
/*adaptive*/
@media (min-width:574px){
    header{
        padding-top: 39px;
    }
    header>.container{
        max-width: 493px;
    }
    a.logo-a{
        margin-right: 362px;
    }
    header > .container{
        padding: 0;
        display: flex;
    }
    .logo{
        font-weight: 400;
        font-size: 30px;
        line-height: 1.5;
    }
    .modal-open{
        width: 42px;
        height: 24px;
    }
    .svg-modal-open{
        width: 42px;
        height: 24px;
    }
    /*modal*/
    .madal-container{
        max-width: 510px;
    }
    .madal {
        position: relative;
        padding-top: 39px;
        background-color: #fff;
        max-width: 575px;
        height: 100%;
    }
    .modal-close {
        position: absolute;
        top: 54px;
        right: 23px;
        border: 0;
        background: transparent;
    }
    .modal-nav-menu {
        margin-top: 35px;
        display: flex;
        flex-direction: column;
    }
    .modal-btn {
        width: 330px;
        height: 70px;
        margin-top: 80px;

        background: transparent ;
        border: 2px solid #263238;
        border-radius: 5px;
    }
    .line:after{
        margin-top: 44px;
            content: '';
            background-color: black;
            height: 1px;
            display: block;
            background-color: #C4C4C4;
    }
    .nav-menu-list-item{
        font-weight: 500;
        font-size: 24px;
        line-height: 2.7;
        color: #263238;
    }
    /*hero*/
    .hero{
        padding-top: 11px;
    }
    .hero>.container {
        max-width: 491px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .hero-img{
        padding: 0;
    }
    .h2-hero {
        max-width: 491px;
        font-weight: 600;
        font-size: 34px;
        line-height: 1.3;
        text-align: center;
        margin-left: 0;
        margin-top: 17px;
        margin-bottom: 26px;

        color: #000000;
    }
    .p-hero {
        max-width: 486px;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        text-align: center;
        margin-bottom: 37px;

        color: #8F95A5;
    }
    .hero-btn {
        width: 305px;
        height: 75px;
        margin-left: 93px;

        background: #263238;
        border-radius: 5px;
        
        font-weight: 500;
        font-size: 18px;
        line-height: 1.5;

        color: #FFFFFF;
    }
    /* skills */
    .Skills>.container{
        max-width: 493px;
    }
    .Skills{
        padding-top: 96px;
    }
    .skill-title {
        text-align: center;
        font-weight: 600;
        font-size: 30px;
        line-height: 2.7;
    }
    .skill-box {
        margin-top: 13px;
        display: inline-grid;
        grid-template-columns: 240px 240px;
        grid-template-rows:534px 534px;
        gap: 10px;
        margin-left: 0;
    }
    .h2-skill{
        font-weight: 600;
        font-size: 18px;
        line-height: 1.5;

        color: #263238;
    }
    .skill-cont{
        margin-left: 15px;
        text-align: start;
    }
    .skills-btn {
        position: absolute;
        width: 200px;
        height: 50px;
        margin-top: 0;
        bottom: 36px;

        background: #263238;
        border-radius: 5px;

        font-weight: 500;
        font-size: 14px;
        line-height: 1.5;

        color: #FFFFFF;
    }
    
    .skil{
        position: relative;
        text-align: center;
        background: #F5F5F5;
        border-radius: 5px;
    }
    .svg-speaking {
        width: 185px;
        height: 185px;
        margin-top: -8px;
        margin-left: 9px;
        margin-bottom: 10px;
    }
    .p-skill {
        max-width: 190px;
        font-weight: 400;
        font-size: 12px;
        line-height: 1.5;
        margin-top: 10px;

        color: #8F95A5;
    }
    .svg-writing {
        margin-top: 5px;
        width: 182px;
        height: 182px;
        margin-left: 23px;
        margin-bottom: 0px;
    }
    .p-writing {
        max-width: 170px;
        margin-top: 10px;
    }
    .svg-reading {
        margin-top: 30px;
        margin-bottom: 15px;
        margin-left: -2px;
        width: 198px;
        height: 132px;
    }
    .p-reading {
        margin-top: 10px;
        max-width: 180px;
    }
    .svg-listening {
        margin-bottom: 9px;
        margin-left: 12px;
        margin-top: 38px;
        width: 206px;
        height: 137px;
    }
    .p-listening {
        margin-top: 10px;
        max-width: 200px;
    }
    /*about*/
    .about-us {
        padding-top: 84px;
        text-align: center;
    }
    .about-us>.container{
        max-width: 510px;
    }
    .title-about {
        font-weight: 600;
        font-size:30px;
        line-height: 2.7;
        margin-bottom: 23px;
    }
    .about-cont {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .about-svg {
        width: 352px;
        height: 352px;
        margin-bottom: 25px;
    }
    .about-p {
        max-width: 510px;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.5;
        text-align: center;
        color: #8F95A5;
    }
    .numbers-about {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 90px;
    }
    .numb-about {
        max-width: 131px;
        text-align: center;
    }
    .number-about {
        font-weight: 600;
        font-size: 24px;
        line-height: 1.5;
        color: #2A3246;
    }
    .p-numbers {
        margin-top: 10px;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.5;
        color: #8F95A5;
    }
    .p-numbers.element3{
        width: auto;
    }
    /*pricing*/
    .title-pric{
        margin-bottom: 54px;
        font-weight: 600;
        font-size: 30px;
        line-height: 2.7;
    }
    .Pricing {
        text-align: center;
        padding-top: 130px;
    }
    .Pricing>.container {
        max-width: 394px;
    }
    .prics {
        display: flex;
        flex-direction: column;
        row-gap: 71px;
    }
    .svg-pric.self{
        width: 291px;
        height: 291px;
        margin-bottom: 29px;
    }
    .svg-pric.live{
        width: 314px;
        height: 314px;
        margin-bottom: 21px;
    }
    .svg-pric.person{
        width: 253px;
        height: 253px;
        margin-bottom: 15px;
    }
    .h2-pric {
        font-weight: 600;
        font-size: 24px;
        line-height: 1.2;
        color: #263238;
    }
    .p-pric{
        font-weight: 400;
        font-size: 14px;
        line-height: 1.5;
        text-align: center;

        color: #8F95A5;
    }
    .p-pric.self{
        margin-left: auto;
        margin-right: auto;
        max-width: 394px;
        margin-top: 23px;
        margin-bottom: 31px;
    }
    .p-pric.live{
        margin-left: auto;
        margin-right: auto;
        max-width: 329px;
        margin-top: 19px;
        margin-bottom: 31px;
    }
    .p-pric.person{
        margin-left: auto;
        margin-right: auto;
        max-width: 356px;
        margin-top: 21px;
        margin-bottom: 31px;
    }
    .price {
        width: 205px;
        height: 45px;
        padding-left: 20px;
        padding-right: 20px;
        display: flex;
        background: #EEEEEE;
        border-radius: 5px;
    }
    .h2-price {
        font-weight: 400;
        font-size: 22px;
        line-height: 1.5;
        color: #263238;
    }
    .p-price {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        color: #546269;
    }
    /* contact */
    .contact {
        display: block;
        padding-top: 163px;
        padding-bottom: 144px;
    }
    .contact > .container {
        max-width: 511px;
        display: flex;
        flex-direction: column;
    }

    .h2-contact {
        font-weight: 600;
        font-size: 30px;
        line-height: 2.7;
        text-align: center;
        color: #000000;
    }
    .svg-contact {
        width: 358px;
        height: 322px;
        margin-top: 83px;
        margin-bottom: 34px;
        margin-left: 82px;
    }
    .contact-cont {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .p-contact {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        text-align: center;
        max-width: 469px;

        color: #8F95A5;
    }
    .input-block {
        position: relative;
        display: flex;
        flex-direction: row;
        margin-top: 60px;
    }
    .input-contact {
        padding:  0 0 0 25px;
        margin-top: 0;
        margin-bottom: 0;
        width: 511px;
        height: 60px;

        border: 1px solid #8F95A5;
        border-radius: 10px;

        font-weight: 400;
        font-size: 13px;
        line-height: 1.5;
        color: #8F95A5;
    }
    .input-btn {
        position: absolute;
        width: 193px;
        height: 60px;
        right: 0;
        bottom: 0;
        background: #263238;
        border-radius: 10px;

        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        color: #FFFFFF;
    }
    /*footer*/
    .footer >.container::before{
        max-width: 513px;
        margin-bottom: 24px;
    }
    .footer > .container{
        max-width: 513px;
    }
    .footer > .container >.footer-cont{
        align-items: center;
        max-width: 513px;
        display: flex;
        text-align: start;
    }
    .footer > .container >.footer-cont > a{
        display: inline-block;
        margin: 0;
    }
    .ul-footer {
        margin-top: 0;
        column-gap: 12px;
        margin-left: 104px;
    }
    .li-footer {
        position: relative;
        font-weight: 500;
        font-size: 12px;
        line-height: 1.5;
        color: #8F95A5;
    }
    .li-f2::before {
        position: absolute;
        content: '';
        width: 4px;
        height: 4px;
        left: -7px;
        border-radius: 100%;
        transform: translateY(170%);
        background-color: #8F95A5;
    }
    .li-f3::before {
        position: absolute;
        content: '';
        width: 4px;
        height: 4px;
        left: -8px;
        border-radius: 100%;
        transform: translateY(170%);
        background-color: #8F95A5;
    }
}
@media (min-width:767px){
    header{
    padding-top: 39px;
    }
    header>.container{
        max-width: 690px;
    }
    a.logo-a{
        margin-right: 571px;
    }
    header > .container{
        padding: 0;
        display: flex;
    }
    .logo{
        font-weight: 400;
        font-size: 30px;
        line-height: 1.5;
    }
    .modal-open{
        width: 30px;
        height: 17px;
    }
    .svg-modal-open{
        width: 30px;
        height: 17px;
    }
    /*modal*/
    a.logo-a.modal768{
        margin-right: 247px;
    }
    .madal-container{
        max-width: 364px;
    }
    .madal-container.container{
        margin: 0;
    }
    .madal {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        padding-top: 39px;
        background-color: #fff;
        max-width: 429px;
        height: 100%;
        padding-bottom: 30px;
    }
    .modal-close {
        top: 22px;
        right: 15px;
        border: 0;
        background: transparent;
    }
    .modal-nav-menu {
        margin-top: 35px;
        display: flex;
        flex-direction: column;
    }
    .modal-btn {
        width: 210px;
        height: 60px;
        margin-top: 62px;

        background: transparent ;
        border: 2px solid #263238;
        border-radius: 5px;
    }
    .line:after{
        margin-top: 21px;
            content: '';
            background-color: black;
            height: 1px;
            display: block;
            background-color: #C4C4C4;
    }
    .nav-menu-list-item{
        font-weight: 500;
        font-size: 22px;
        line-height: 3;
        color: #263238;
    }
    /*hero*/
    .hero{
        padding-top: 40px;
    }
    .hero-cont{
        position: relative;
    }
    .hero>.container {
        padding-left: 12px;
        max-width: 712px;
        display: flex;
        flex-direction: row-reverse;
        align-items: start;
    }
    .hero-img{
        padding: 0;
        margin-left: 22px;
    }
    .light{
        display: block;
        position: absolute;
        top: 94px;
        left: 217px;
        width: 51px;
        height: 51px;
    }
    .h2-hero {
        max-width: 217px;
        font-weight: 600;
        font-size: 36px;
        line-height: 1.3;
        text-align: start;
        padding-top: 0;
        margin-top: 28px;
        margin-left: 0;
        margin-bottom: 25px;

        color: #000000;
    }
    .p-hero {
        max-width: 338px;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        text-align: start;
        margin-bottom: 32px;

        color: #8F95A5;
    }
    .hero-btn {
        width: 236px;
        height: 65px;
        margin-left: 0;

        background: #263238;
        border-radius: 5px;

        font-weight: 500;
        font-size: 18px;
        line-height: 1.5;

        color: #FFFFFF;
    }
    /* skills */
    .Skills>.container{
        max-width: 698px;
    }
    .Skills{
        padding-top: 56px;
    }
    .skill-title {
        text-align: center;
        font-weight: 600;
        font-size: 30px;
        line-height: 2.7;
    }
    .skill-speaking.skil{
        grid-row-start:1;
        grid-row-end: 3;  
    }
    .skill-listening.skil{
        grid-column-start: 2;
        grid-column-end: 4;
    }
    .skill-box {
        margin-top: 13px;
        display: inline-grid;
        grid-template-columns: 224px 227px 228px;
        grid-template-rows:441px 210px;
        gap: 10px;
        margin-left: 0;
    }
    .h2-skill.element1{
        top: 247px;
    }
    .h2-skill.element4{
        top: -2px;
    }

    .h2-skill{
        top: 180px;
        font-weight: 600;
        font-size: 20px;
        line-height: 1.5;

        color: #263238;
    }
    .skill-cont{
        margin-left: 18px;
        margin-bottom: 82px;
        text-align: start;
    }
    .skills-btn {
        position: absolute;
        width: 178px;
        height: 50px;
        margin-top: 0;
        bottom: 26px;

        background: #263238;
        border-radius: 5px;

        font-weight: 500;
        font-size: 14px;
        line-height: 1.5;

        color: #FFFFFF;
    }
    .skills-btn.skill-btn-speak{
        bottom: 37px;
    }
    .skil{
        position: relative;
        text-align: start;
        background: #F5F5F5;
        border-radius: 10px;
    }
    .svg-speaking {
        width: 214px;
        height: 214px;
        margin-top: 30px;
        margin-bottom: 17px;
    }
    .p-skill {
        max-width: 197px;
        font-weight: 400;
        font-size: 13px;
        line-height: 1.5;
        margin-top: 15px;

        color: #8F95A5;
    }
    .svg-writing {
        margin-top: 14px;
        margin-left: 4px;

        width: 200px;
        height: 200px;
        margin-bottom: 0px;
    }
    .p-writing {
        max-width: 182px;
        margin-top: 10px;
    }
    .svg-reading {
        margin-top: 32px;
        margin-bottom: 38px;
        margin-left: -2px;
        width: 216px;
        height: 144px;
    }
    .p-reading {
        margin-top: 10px;
        max-width: 182px;
    }
    .skill-listening{
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
    }
    .svg-listening {
        margin-bottom: 17px;
        margin-top: 59px;
        width: 200px;
        height: 134px;
    }
    .p-listening {
        margin-top: 10px;
        max-width: 257px;
    }
    /*about*/
    .about-us {
        padding-top: 52px;
        text-align: start;
    }
    .about-us>.container{
        max-width: 694px;
        display: flex;
        flex-direction: row;
        text-align: start;
    }
    .title-about {
        display: none;
        font-weight: 600;
        font-size:30px;
        line-height: 2.7;
        margin-bottom: 23px;
    }
    .about-cont {
        display: flex;
        flex-direction: column;
        align-items: start;
    }
    .title-about2{
        font-weight: 600;
        font-size:30px;
        line-height: 2.7;
        margin-bottom: 0;
        display: block;
        text-align: start;
    }
    .about-cont2{
        display: flex;
        flex-direction: column;
        align-items: start;
    }
    .about-svg {
        width: 295px;
        height: 295px;
        margin-top: 32px;
        margin-left: 78px;
        margin-bottom: 0;
    }
    .about-p {
        max-width: 321px;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.5;
        text-align: start;
        color: #8F95A5;
    }
    .numbers-about {
        display: inline-flex;
        flex-direction: row;
        align-items: center;
        justify-content: start;
        margin-left: 8px;
        gap: 45px;
        padding-top: 20px;
    }
    .numb-about {
        max-width: 131px;
        text-align: center;
    }
    .number-about {
        font-weight: 600;
        font-size: 24px;
        line-height: 1.5;
        color: #2A3246;
    }
    .p-numbers {
        margin-top: 10px;
        font-weight: 400;
        font-size: 13px;
        line-height: 1.5;
        color: #8F95A5;
    }
    /*pricing*/
    .title-pric{
        margin-bottom: 26px;
        font-weight: 600;
        font-size: 30px;
        line-height: 2.7;
    }
    .Pricing {
        text-align: center;
        padding-top: 87px;
    }
    .Pricing>.container {
        max-width: 718px;
    }
    .prics {
        display: flex;
        flex-direction: row;
        column-gap: 35px;
    }
    .svg-pric.self{
        width: 197px;
        height: 197px;
        margin-bottom: 22px;
    }
    .svg-pric.live{
        width: 219px;
        height: 168px;
        margin-top: 29px;
        margin-bottom: 23px;
    }
    .svg-pric.person{
        width: 210px;
        height: 210px;
        margin-bottom: 11px;
    }
    .h2-pric {
        font-weight: 600;
        font-size: 24px;
        line-height: 1.2;
        text-align: start;
        color: #263238;
    }
    .h2-pric.pers{
        max-width: 105px;
    }
    .p-pric{
        font-weight: 400;
        font-size: 14px;
        line-height: 1.5;
        text-align: start;

        color: #8F95A5;
    }
    .p-pric.self{
        margin-left: 0;
        max-width: 195px;
        margin-top: 9px;
        margin-bottom: 30px;
    }
    .p-pric.live{
        margin-left: 0;
        max-width: 213px;
        margin-top: 9px;
        margin-bottom: 50px;
    }
    .p-pric.person{
        margin-left: 0;
        max-width: 225px;
        margin-top: 9px;
        margin-bottom: 49px;
    }
    .price {
        width: 205px;
        height: 45px;
        padding-left: 20px;
        padding-right: 20px;
        display: flex;
        background: #EEEEEE;
        border-radius: 5px;
    }
    .h2-price {
        font-weight: 400;
        font-size: 22px;
        line-height: 1.5;
        color: #263238;
    }
    .p-price {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        color: #546269;
    }
    /* contact */
    .contact {
        display: block;
        padding-top: 65px;
        padding-bottom: 112px;
    }
    .contact > .container {
        max-width: 703px;
        display: flex;
        flex-direction: row;
        align-items: start;
    }

    .h2-contact {
        display: none;
    }
    .h2-contact2{
        display: block;
        font-weight: 600;
        font-size: 30px;
        line-height: 2.6;
        text-align: start;
        color: #000000;
    }
    .svg-contact {
        width: 233px;
        height: 210px;
        margin-top: 36px;
        margin-bottom: 0;
        margin-right: 36px;
        margin-left: 0;
    }
    .contact-cont {
        display: flex;
        flex-direction: column;
        padding-bottom: 29px;
    }
    .p-contact {
        font-weight: 400;
        font-size: 14px;
        line-height: 1.5;
        text-align: start;
        max-width: 392px;

        color: #8F95A5;
    }
    .input-block {
        position: relative;
        display: flex;
        flex-direction: row;
        column-gap: 6px;
        margin-top: 26px;
    }
    .input-contact {
        padding:  0 0 0 24px;
        margin-top: 0;
        margin-bottom: 0;
        width: 283px;
        height: 50px;

        border: 1px solid #8F95A5;
        border-radius: 5px;

        font-weight: 400;
        font-size: 12px;
        line-height: 1.5;
        color: #8F95A5;
    }
    .input-btn {
        position: relative;
        width: 145px;
        height: 50px;
        right: 0;
        bottom: 0;
        background: #263238;
        border-radius: 5px;

        font-weight: 500;
        font-size: 13px;
        line-height: 1.5;
        color: #FFFFFF;
    }
    /*footer*/
    .footer >.container::before{
        max-width: 690px;
        margin-bottom: 24px;
    }
    .footer > .container,
    .footer > .container >.footer-cont{
        max-width: 693px;
    }
    .ul-footer {
        column-gap: 12px;
        margin-left: 261px;
    }
    .li-footer {
        position: relative;
        font-weight: 400;
        font-size: 13px;
        line-height: 1.5;
        color: #8F95A5;
    }
    .li-f2::before {
        position: absolute;
        content: '';
        width: 3px;
        height: 3px;
        left: -7px;
        border-radius: 100%;
        transform: translateY(250%);
        background-color: #8F95A5;
    }
    .li-f3::before {
        position: absolute;
        content: '';
        width: 3px;
        height: 3px;
        left: -7px;
        border-radius: 100%;
        transform: translateY(260%);
        background-color: #8F95A5;
    }
}
@media (min-width:991px){
    header{
        padding-top: 25px;
    }
    header>.container{
        max-width: 930px;
        display: flex;
    }
    a.logo-a{
        margin-right: 167px;
    }
    .logo{
        font-weight: 400;
        font-size: 30px;
        line-height: 1.5;
    }
    .nav-menu{
        display: flex;
        align-items: center;
    }
    .nav-menu-list-item{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;

    color: #263238;
    }
    .nav-menu-list{
        display: flex;
        flex-direction: row;
        column-gap: 31px;
        white-space: nowrap;
    }
    .talk{
        display: inline-block;
        width: 160px;
        height: 50px;
        margin-left: 100px;

        border: 2px solid #263238;
        border-radius: 5px;
    }
    .talk>span{
        font-weight: 400;
        font-size: 18px;
        line-height: 1.5;
        color: #000;
    }
    .modal-open{
        display: none;
    }
    /*hero*/
    .hero{
        padding-top: 68px;
    }
    .hero>.container {
        justify-content: start;
        padding-left: 2px;
        max-width: 942px;
        display: flex;
        flex-direction: row-reverse;
        align-items: start;
    }
    .hero-img{
        padding: 0;
        margin-left: 57px;
    }
    .light{
    top: 103px;
    left: 306px;
    width: 59px;
    height: 59px;
    }
    .h2-hero {
        max-width: 290px;
        font-weight: 600;
        font-size: 48px;
        line-height: 1.3;
        text-align: start;
        margin-top: 15px;
        padding-top: 0;
        margin-top: 0;
        margin-bottom: 27px;

        color: #000000;
    }
    .p-hero {
        max-width: 421px;
        font-weight: 400;
        font-size: 20px;
        line-height: 1.5;
        text-align: start;
        margin-bottom: 33px;

        color: #8F95A5;
    }
    .hero-btn {
        width: 292px;
        height: 80px;

        background: #263238;
        border-radius: 5px;

        font-weight: 500;
        font-size: 24px;
        line-height: 1.5;

        color: #FFFFFF;
    }
    /* skills */
    .Skills>.container{
        max-width: 934px;
    }
    .Skills{
        padding-top: 72px;
    }
    .skill-title {
        text-align: center;
        font-weight: 600;
        font-size: 36px;
        line-height: 2.2;
    }
    .skill-box {
        margin-top: 53px;
        display: inline-grid;
        grid-template-columns: 303px 302px 304px;
        grid-template-rows:441px 241px;
        gap: 13px;
        margin-left: 0;
    }
    .h2-skill.element1{
        top: 260px;
    }
    .h2-skill.element4{
        top: 0px;
    }

    .h2-skill{
        font-weight: 600;
        font-size: 22px;
        line-height: 1.5;

        color: #263238;
    }
    .skill-cont{
        margin-left: 27px;
        margin-bottom: 102px;
        text-align: start;
    }
    .skills-btn {
        position: absolute;
        width: 196px;
        height: 57px;
        margin-top: 0;
        bottom: 30px;

        background: #263238;
        border-radius: 5px;

        font-weight: 500;
        font-size: 14px;
        line-height: 1.5;

        color: #FFFFFF;
    }
    .skills-btn.skill-btn-speak{
        bottom: 52px;
    }
    .skil{
        position: relative;
        text-align: start;
        background: #F5F5F5;
        border-radius: 10px;
    }
    .svg-speaking {
        width: 260px;
        height: 260px;
        margin-top: 0;
        margin-bottom: 15px;
    }
    .p-skill {
        max-width: 262px;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.5;

        color: #8F95A5;
    }
    .svg-writing {
        margin-top: 5px;
        margin-left: 60px;

        width: 205px;
        height: 205px;
        margin-bottom: 0px;
    }
    .p-writing {
        max-width: 245px;
        margin-top: 10px;
    }
    .svg-reading {
        margin-top: 16px;
        margin-bottom: 32px;
        margin-left: 3px;
        width: 243px;
        height: 162px;
    }
    .p-reading {
        margin-top: 10px;
        max-width: 239px;
    }
    .svg-listening {
        margin-bottom: 39px;
        margin-top: 33px;
        margin-left: 19px;
        margin-right: 18px;
        width: 254px;
        height: 169px;
    }
    .p-listening {
        margin-top: 10px;
        max-width: 293px;
    }
    /*about*/
    .about-us {
        padding-top: 106px;
        text-align: start;
    }
    .about-us>.container{
        max-width: 938px;
    }
    .title-about {
        display: none;
        font-weight: 600;
        font-size:36px;
        line-height:2.2;
        margin-bottom: 23px;
    }
    .about-cont {
        display: flex;
    }
    .title-about2{
        font-weight: 600;
        font-size:36px;
        line-height: 2.2;
        margin-bottom: 13px;
        display: block;
        text-align: start;
    }
    .about-cont2{
        display: flex;
        flex-direction: column;
        align-items: start;
    }
    .about-svg {
        width: 336px;
        height: 336px;
        margin-top: 18px;
        margin-left: 75px;
    }
    .about-p {
        max-width: 528px;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        text-align: start;
        color: #8F95A5;
    }
    .numbers-about {
        display: inline-flex;
        flex-direction: row;
        align-items: center;
        justify-content: start;
        margin-left: 7px;
        gap: 59px;
        padding-top: 20px;
    }
    .numb-about {
        max-width: 154px;
        text-align: center;
    }
    .number-about {
        font-weight: 600;
        font-size: 30px;
        line-height: 1.5;
        color: #2A3246;
    }
    .p-numbers {
        margin-top: 10px;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        color: #8F95A5;
    }
    /*pricing*/
    .title-pric{
        margin-bottom: 10px;
        font-weight: 600;
        font-size: 36px;
        line-height: 2.2;
    }
    .Pricing {
        text-align: center;
        padding-top: 101px;
    }
    .Pricing>.container {
        max-width: 927px;
    }
    .prics {
        display: flex;
        flex-direction: row;
        column-gap: 43px;
    }
    .svg-pric.self{
        width: 222px;
        height: 222px;
        margin-top: 12px;
        margin-bottom: 22px;
    }
    .svg-pric.live{
        width: 267px;
        height: 195px;
        margin-top: 37px;
        margin-bottom: 22px;
    }
    .svg-pric.person{
        width: 242px;
        height: 242px;
        margin-bottom: 12px;
    }
    .h2-pric {
        font-weight: 600;
        font-size: 22px;
        line-height: 2.2;
        text-align: start;
        color: #263238;
    }
    .h2-pric.pers{
        max-width: 180px;
    }
    .p-pric{
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        text-align: start;

        color: #8F95A5;
    }
    .p-pric.self{
        margin-left: 0;
        max-width: 293px;
        margin-top: 14px;
        margin-bottom: 31px;
    }
    .p-pric.live{
        margin-left: 0;
        max-width: 255px;
        margin-top: 14px;
        margin-bottom: 58px;
    }
    .p-pric.person{
        margin-left: 0;
        max-width: 254px;
        margin-top: 14px;
        margin-bottom: 34px;
    }
    .price {
        margin-left: 0;
        width: 205px;
        height: 45px;
        padding-left: 20px;
        padding-right: 20px;
        display: flex;
        background: #EEEEEE;
        border-radius: 5px;
    }
    .h2-price {
        font-weight: 400;
        font-size: 22px;
        line-height: 1.5;
        color: #263238;
    }
    .p-price {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        color: #546269;
    }
    /* contact */
    .contact {
        display: block;
        padding-top: 140px;
    }
    .contact > .container {
        max-width: 957px;
    }

    .h2-contact {
        display: none;
    }
    .h2-contact2{
        display: block;
        margin-left: 14px;
        font-weight: 600;
        font-size: 36px;
        line-height: 2.2;
        text-align: start;
        color: #000000;
    }
    .svg-contact {
        width: 312px;
        height: 281px;
        margin-top: 0;
        margin-bottom: 0;
        margin-right: 109px;
        margin-left: 0;
    }
    .contact-cont {
        display: flex;
        flex-direction: column;
        padding-bottom: 37px;
    }
    .p-contact {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        text-align: start;
        max-width: 392px;

        color: #8F95A5;
    }
    .input-block {
        position: relative;
        display: flex;
        flex-direction: row;
        column-gap: 14px;
        margin-top: 34px;
    }
    .input-contact {
        padding:  0 0 0 38px;
        margin-top: 0;
        margin-bottom: 0;
        width: 323px;
        height: 60px;

        border: 1px solid #8F95A5;
        border-radius: 10px;

        font-weight: 400;
        font-size: 14px;
        line-height: 1.5;
        color: #8F95A5;
    }
    .input-btn {
        position: relative;
        width: 193px;
        height: 60px;
        right: 0;
        bottom: 0;
        background: #263238;
        border-radius: 10px;

        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        color: #FFFFFF;
    }
    /*footer*/
    .footer >.container::before{
        max-width: 929px;
        margin-bottom: 22px;
    }
    .footer > .container,
    .footer > .container >.footer-cont{
        max-width: 929px;
    }
    .ul-footer {
        column-gap: 14px;
        margin-left: 422px;
    }
    .li-footer {
        position: relative;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        color: #8F95A5;
    }
    .li-f2::before {
        position: absolute;
        content: '';
        width: 4px;
        height: 4px;
        left: -8px;
        border-radius: 100%;
        transform: translateY(250%);
        background-color: #8F95A5;
    }
    .li-f3::before {
        position: absolute;
        content: '';
        width: 4px;
        height: 4px;
        left: -8px;
        border-radius: 100%;
        transform: translateY(260%);
        background-color: #8F95A5;
    }
}
@media (min-width:1599px){
    header{
        padding-top: 55px;
    }
    header>.container{
        max-width: 1338px;
        display: flex;
    }
    a.logo-a{
        margin-right: 236px;
    }
    .logo{
        font-weight: 400;
        font-size: 36px;
        line-height: 1.5;
    }
    .nav-menu{
        display: flex;
        align-items: center;
    }
    .nav-menu-list-item{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.5;
    white-space: nowrap;

    color: #263238;
    }
    .nav-menu-list{
        display: flex;
        flex-direction: row;
        column-gap: 50px;
    }
    .talk{
        display: inline-block;
        width: 312px;
        height: 70px;
        margin-left: 121px;

        border: 2px solid #263238;
        border-radius: 10px;
    }
    .talk>span{
        font-weight: 400;
        font-size: 20px;
        line-height: 1.5;
        color: #000;
    }
    .modal-open{
        display: none;
    }
        /*hero*/
    .hero{
        padding-top: 68px;
    }
    .hero>.container {
        justify-content: start;
        padding-left: 2px;
        max-width: 942px;
        display: flex;
        flex-direction: row-reverse;
        align-items: start;
    }
    .hero-img{
        padding: 0;
        margin-left: 57px;
    }
    .light{
    top: 103px;
    left: 306px;
    width: 59px;
    height: 59px;
    }
    .h2-hero {
        max-width: 290px;
        font-weight: 600;
        font-size: 48px;
        line-height: 1.3;
        text-align: start;
        margin-top: 15px;
        padding-top: 0;
        margin-top: 0;
        margin-bottom: 27px;

        color: #000000;
    }
    .p-hero {
        max-width: 421px;
        font-weight: 400;
        font-size: 20px;
        line-height: 1.5;
        text-align: start;
        margin-bottom: 33px;

        color: #8F95A5;
    }
    .hero-btn {
        width: 292px;
        height: 80px;

        background: #263238;
        border-radius: 5px;

        font-weight: 500;
        font-size: 24px;
        line-height: 1.5;

        color: #FFFFFF;
    }
    /*hero*/
    .hero{
        padding-top: 55px;
    }
    .hero>.container {
        justify-content: start;
        padding-left: 0px;
        max-width: 1338px;
        display: flex;
        flex-direction: row-reverse;
        align-items: start;
    }
    .hero-img{
        padding: 0;
        margin-left: 144px;
    }
    .light{
        top: 92px;
        left: 420px;
        width: 85px;
        height: 85px;
    }
    .h2-hero {
        max-width: 386px;
        font-weight: 600;
        font-size: 64px;
        line-height: 1.3;
        text-align: start;
        padding-top: 0;
        margin-top: 0;
        margin-bottom: 40px;

        color: #000000;
    }
    .p-hero {
        max-width: 540px;
        font-weight: 400;
        font-size: 24px;
        line-height: 1.5;
        text-align: start;
        margin-bottom: 66px;

        color: #8F95A5;
    }
    .hero-btn {
        width: 426px;
        height: 100px;

        background: #263238;
        border-radius: 10px;

        font-weight: 500;
        font-size: 36px;
        line-height: 1.5;

        color: #FFFFFF;
    }
    /* skills */
    .Skills>.container{
        max-width: 1338px;
    }
    .Skills{
        padding-top: 180px;
    }
    .skill-title {
        text-align: center;
        font-weight: 600;
        font-size: 48px;
        line-height: 1.5;
    }
    .skill-box {
        margin-top: 53px;
        display: inline-grid;
        grid-template-columns: 426px 426px 426px;
        grid-template-rows:579px 338px;
        gap: 30px;
        margin-left: 0;
    }
    .h2-skill.element1{
        top: 446px;
    }
    .h2-skill.element4{
        top: 32px;
    }

    .h2-skill{
        top: 320px;
        font-weight: 600;
        font-size: 30px;
        line-height: 1.5;

        color: #263238;
    }
    .skill-cont{
        margin-left: 18px;
        text-align: start;
    }
    .skills-btn {
        position: absolute;
        width: 218px;
        height: 60px;
        margin-top: 0;
        bottom: 32px;

        background: #263238;
        border-radius: 10px;

        font-weight: 500;
        font-size: 20px;
        line-height: 1.5;

        color: #FFFFFF;
    }
    .skills-btn.skill-btn-speak{
        bottom: 154px;
    }
    .skills-btn.skill-btn-list{
        bottom: 79px;
    }
    .skil{
        position: relative;
        text-align: start;
        background: #F5F5F5;
        border-radius: 10px;
    }
    .svg-speaking {
        width: 390px;
        height: 390px;
        margin-top: 32px;
        margin-left: 18px;
        margin-bottom: 24px;
    }
    .p-skill {
        margin-top: 20px;
        max-width: 347px;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;

        color: #8F95A5;
    }
    .svg-writing {
        margin-top: 32px;
        margin-left: 144px;

        width: 264px;
        height: 264px;
        margin-bottom: 24px;
    }
    .p-writing {
        max-width: 340px;
        margin-top: 24px;
    }
    .svg-reading {
        margin-top: 33px;
        margin-bottom: 23px;
        margin-left: 18px;
        width: 390px;
        height: 264px;
    }
    .p-reading {
        margin-top: 20px;
        max-width: 359px;
    }
    .svg-listening {
        margin-bottom: 32px;
        margin-top: 32px;
        margin-left: 115px;
        margin-right: 18px;
        width: 408px;
        height: 274px;
    }
    .p-listening {
        margin-top: 20px    ;
        margin-bottom: 30px;
        max-width: 324px;
    }
    /*about*/
    .about-us {
        padding-top: 180px;
        text-align: start;
    }
    .about-us>.container{
        max-width: 1338px;
        display: flex;
    }
    .title-about {
        display: none;
        font-weight: 600;
        font-size:48px;
        line-height:1.5;
        margin-bottom: 60px;
    }
    .about-cont {
        display: flex;
    }
    .title-about2{
        font-weight: 600;
        font-size:48px;
        line-height:1.5;
        margin-bottom: 60px;
        display: block;
        text-align: start;
    }
    .about-cont2{
        display: flex;
        flex-direction: column;
        align-items: start;
    }
    .about-svg {
        width: 540px;
        height: 540px;
        margin-top: 0;
        margin-left: 146px;
    }
    .about-p {
        max-width: 652px;
        font-weight: 400;
        font-size: 20px;
        line-height: 1.5;
        text-align: start;
        color: #8F95A5;
    }
    .numbers-about {
        display: inline-flex;
        flex-direction: row;
        align-items: center;
        justify-content: start;
        margin-left: 49px;
        gap: 131px;
    }
    .numbers-about>li:nth-child(3){
        padding-top: 30px;
    }
    .numb-about {
        max-width: 108px;
        text-align: center;
        padding: 0;
    }
    .number-about {
        font-weight: 600;
        font-size: 48px;
        line-height: 1.5;
        margin-top: 0px;
        color: #2A3246;
    }
    .p-numbers {
        margin-top: 10px;
        font-weight: 400;
        white-space: normal;
        font-size: 20px;
        line-height: 1.5;
        color: #8F95A5;
    }
    /*pricing*/
    .title-pric{
        margin-bottom: 60px;
        font-weight: 600;
        font-size: 48px;
        line-height: 1.5;
    }
    .Pricing {
        text-align: center;
        padding-top: 180px;
    }
    .Pricing>.container {
        max-width: 1338px;
    }
    .prics {
        display: flex;
        flex-direction: row;
        column-gap: 30px;
    }
    .svg-pric.self{
        width: 426px;
        height: 320px;
        margin-top: 0;
        margin-bottom: 31px;
    }
    .svg-pric.live{
        width: 426px;
        height: 320px;
        margin-top: 0;
        margin-bottom: 31px;
    }
    .svg-pric.person{
        width: 426px;
        height: 320px;
        margin-bottom: 31px;
    }
    .h2-pric {
        font-weight: 600;
        font-size: 30px;
        line-height: 1.5;
        text-align: start;
        color: #263238;
    }
    .h2-pric.pers{
        max-width: 245px;
    }
    .p-pric{
        font-weight: 400;
        font-size: 20px;
        line-height: 1.5;
        text-align: start;

        color: #8F95A5;
    }
    .p-pric.self{
        margin-left: 0;
        max-width: 426px;
        margin-top: 20px;
        margin-bottom: 30px;
    }
    .p-pric.live{
        margin-left: 0;
        max-width: 420px;
        margin-top: 20px;
        margin-bottom: 60px;
    }
    .p-pric.person{
        margin-left: 0;
        max-width: 426px;
        margin-top: 20px;
        margin-bottom: 60px;
    }
    .price {
        margin-left: 0;
        width: 260px;
        height: 45px;
        padding-left: 25px;
        padding-right: 25px;
        display: flex;
        background: #EEEEEE;
        border-radius: 5px;
    }
    .h2-price {
        font-weight: 400;
        font-size: 24px;
        line-height: 1.5;
        color: #263238;
    }
    .p-price {
        font-weight: 400;
        font-size: 18px;
        line-height: 1.5;
        color: #546269;
    }
    .lol1{
        display: none;
    }
    .lol{
        display: block;
    }
    /* contact */
    .contact {
        display: block;
        padding-top: 180px;
    }
    .contact > .container {
        max-width: 1338px;
    }
    .h2-contact2{
        display: block;
        margin-left: 0px;
        margin-bottom: 60px;
        font-weight: 600;
        font-size: 48px;
        line-height: 1.5;
        text-align: start;
        color: #000000;
    }
    .svg-contact {
        width: 425px;
        height: 430px;
        margin-top: 0;
        margin-bottom: 0;
        margin-right: 144px;
        margin-left: 0;
    }
    .p-contact {
        font-weight: 400;
        font-size: 20px;
        line-height: 1.5;
        text-align: start;
        max-width: 6221px;

        color: #8F95A5;
    }
    .input-block {
        position: relative;
        display: flex;
        flex-direction: row;
        column-gap: 30px;
        margin-top: 30px;
    }
    .input-contact {
        padding:  0 0 0 30px;
        margin-top: 0;
        margin-bottom: 0;
        width: 425px;
        height: 70px;

        border: 1px solid #8F95A5;
        border-radius: 10px;

        font-weight: 400;
        font-size: 16px;
        line-height: 1.9;
        color: #8F95A5;
    }
    .input-btn {
        position: relative;
        width: 312px;
        height: 70px;
        right: 0;
        bottom: 0;
        background: #263238;
        border-radius: 10px;

        font-weight: 500;
        font-size: 20px;
        line-height: 1.5;
        letter-spacing: 0.03em;
        color: #FFFFFF;
    }
    /*footer*/
    .footer >.container::before{
        max-width: 1338px;
        margin-bottom: 22px;
    }
    .footer > .container,
    .footer > .container >.footer-cont{
        max-width: 1338px;
    }
    .ul-footer {
        column-gap: 80px;
        margin-left: 463px;
    }
    .li-footer {
        position: relative;
        font-weight: 400;
        font-size: 24px;
        line-height: 1.5;
        color: #8F95A5;
        letter-spacing: 0.02em;
    }
    .li-f2::before {
        display: none;
        position: absolute;
        content: '';
        width: 4px;
        height: 4px;
        left: -8px;
        border-radius: 100%;
        transform: translateY(250%);
        background-color: #8F95A5;
    }
    .li-f3::before {
        display: none;
        position: absolute;
        content: '';
        width: 4px;
        height: 4px;
        left: -8px;
        border-radius: 100%;
        transform: translateY(260%);
        background-color: #8F95A5;
    }
}
